In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
file_dir = "data/House/"

In [3]:
df = pd.read_csv(file_dir+'train.csv')
df_test = pd.read_csv(file_dir+'test.csv')

In [4]:
SalePrediction = df['SalePrice']

In [5]:
df.drop(['SalePrice'], axis=1, inplace=True)

In [6]:
numTrain = len(df) 
numTrain

1460

In [7]:
df = pd.concat((df, df_test))
len(df)

2919

In [8]:
df.drop(['Id','LandContour','Street','MSZoning','BldgType','HouseStyle','Alley','Utilities','PoolArea','Fence','LotConfig','ScreenPorch','3SsnPorch','Condition1','Condition2','OpenPorchSF','EnclosedPorch','WoodDeckSF','GarageCond','GarageQual','GarageArea','Exterior1st','Exterior2nd','MasVnrType','MasVnrArea','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinSF1','BsmtFinType2','BsmtFinSF2','BsmtUnfSF','TotalBsmtSF','Heating','HeatingQC','Electrical','1stFlrSF','2ndFlrSF','LowQualFinSF','ExterCond','ExterQual','GrLivArea','BsmtFullBath','BsmtHalfBath','BedroomAbvGr','KitchenAbvGr','Functional','FireplaceQu','GarageYrBlt','GarageFinish','MiscFeature','MiscVal','MSSubClass','LotFrontage','LandSlope','RoofStyle','RoofMatl','PavedDrive','LotShape','KitchenQual','GarageType','PoolQC','SaleType','SaleCondition','CentralAir','Neighborhood'], axis=1, inplace=True)

In [9]:
df.head(3)

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,FullBath,HalfBath,TotRmsAbvGrd,Fireplaces,GarageCars,MoSold,YrSold
0,8450,7,5,2003,2003,2,1,8,0,2.0,2,2008
1,9600,6,8,1976,1976,2,0,6,1,2.0,5,2007
2,11250,7,5,2001,2002,2,1,6,1,2.0,9,2008

# Clean Data

# Restore Data

In [10]:
df_train = df[:numTrain]
df_test = df[numTrain:]

In [11]:
df_train.head()

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,FullBath,HalfBath,TotRmsAbvGrd,Fireplaces,GarageCars,MoSold,YrSold
0,8450,7,5,2003,2003,2,1,8,0,2.0,2,2008
1,9600,6,8,1976,1976,2,0,6,1,2.0,5,2007
2,11250,7,5,2001,2002,2,1,6,1,2.0,9,2008
3,9550,7,5,1915,1970,1,0,7,1,3.0,2,2006
4,14260,8,5,2000,2000,2,1,9,1,3.0,12,2008

# Train Test Split

In [12]:
Y = SalePrediction
X = df_train.values

In [13]:
len(X)

1460

In [14]:
len(Y)

1460

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LR

In [16]:
XTRAIN,XTEST,YTRAIN,YTEST=train_test_split(X,Y)

In [17]:
lr = LR().fit(XTRAIN, YTRAIN)

In [18]:
lr.score(XTEST,YTEST)

0.7562272826249289

# Submissions

In [19]:
df_sub = pd.read_csv(file_dir+'sample_submission.csv')
df_sub.head(1)

     Id      SalePrice
0  1461  169277.052498

In [20]:
df_test.loc[df_test['GarageCars'].isnull() == True, 'GarageCars'] = 0

/opt/Anaconda/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [21]:
df_test.loc[df_test['GarageCars'].isnull() == True]

Empty DataFrame
Columns: [LotArea, OverallQual, OverallCond, YearBuilt, YearRemodAdd, FullBath, HalfBath, TotRmsAbvGrd, Fireplaces, GarageCars, MoSold, YrSold]
Index: []

In [22]:
df_test['GarageCars'] = df_test.GarageCars.astype(int)

/opt/Anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df_test.isnull().head(1)

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,FullBath,HalfBath,TotRmsAbvGrd,Fireplaces,GarageCars,MoSold,YrSold
0,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
y_pred = lr.predict(df_test.values)

In [25]:
df_sub['SalePrice'] = y_pred

In [26]:
df_sub.to_csv(file_dir+'submission.csv', index=False)